<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="logo.svg">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine">
        <link rel="stylesheet" id="platformStylesheet">
        <meta charset="utf-8">
        <title>Faepedia - Spells</title>
    </head>
    <body>
        <script src="js/format.js" onload="platformFormat('css')"></script>
        <p><a href="./">Back to homepage</a></p>
        <table>
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Name</th>
                    <th>School</th>
                    <th>Classes</th>
                </tr>
            </thead>
            <tbody>
                {{#each spells}}
                <tr id="{{this.name}}" class="spell">
                    <td>{{this.level}}</td>
                    <td><a href="spells/{{kebabCase this.name}}"><b>{{this.name}}</b></a></td>
                    <td>{{this.school}}</td>
                    <td>{{this.classes}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="js/spells.js"></script>
    </body>
</html>
