<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="../icon.svg">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine">
        <link rel="stylesheet" id="platformStylesheet">
        <meta charset="utf-8">
        <title>Faepedia - {{name}}</title>
    </head>
    <body>
        <script src="https://doesnotsitproperly.github.io/js/format.js" onload="platformFormat('../css')"></script>
        <p><a href="../spells">Back to Spells</a></p>
        <p class="block top"><b>{{name}}</b></p>
        <p class="block bottom">
            {{~#if (equal level "Cantrip")~}}
            {{school}} cantrip
            {{~else~}}
            {{level}} {{school}} spell
            {{~/if~}}
        </p>
        <p class="block top">Casting Time: {{castingTime}}</p>
        <p class="block middle">Range / Area: {{rangeArea}}</p>
        <p class="block middle">Components: {{components}}</p>
        <p class="block bottom">Duration: {{duration}}</p>
        {{#each description}}
        {{{this}}}
        {{/each}}
        <p>Classes: {{classes}}</p>
    </body>
</html>
